*{
    margin: 0px;
    padding: 0px;
}
.container{
    background: black;
    border-top: 1px solid rgb(85, 85, 85);
    display: flex;
    justify-content: center;
}
.subContainer{
    width: 90vw;
}
.mainDiv1{
    padding:40px 0 0 0;
}
.mainDiv1 h1{
    color: rgb(85, 85, 85);
    transition: 0.6s;
    display: inline-block;
}
.mainDiv1 h1:hover{
    color: #8d8a8a;
}

.skillsDiv{
    padding: 20px 0 0 0;
}